<EditForm Model="Operation" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />
    <MudTextField Label="@GetDisplayName(() => Operation.OperationName)"
                  @bind-Value="@Operation.OperationName"
                  For="@(() => Operation.OperationName)"
                  Class="mb-4" />
    <MudCheckBox Label="@GetDisplayName(() => Operation.Active)"
                 @bind-Value="@Operation.Active"
                 For="@(() => Operation.Active)"
                 Class="mb-4" />
    <br />
    <div class="mb-4" style="display: flex; justify-content: center; gap: 10px; margin-top: 10px;">
        <MudButton Variant="Variant.Filled"
                   StartIcon="@Icons.Material.Filled.ArrowBack"
                   Color="Color.Surface"
                   OnClick="ReturnAction">
            Volver
        </MudButton>
        <MudButton Variant="Variant.Filled"
                   StartIcon="@Icons.Material.Filled.Save"
                   Color="Color.Dark"
                   ButtonType="ButtonType.Submit">
            Guardar
        </MudButton>
    </div>
</EditForm>
