<EditForm Model="IpNetwork" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />
    <MudTextField Label="@GetDisplayName(() => IpNetwork.Ip)"
                  @bind-Value="@IpNetwork.Ip"
                  For="@(() => IpNetwork.Ip)"
                  Class="mb-4" />
    <MudTextField Label="@GetDisplayName(() => IpNetwork.Description)"
                  @bind-Value="@IpNetwork.Description"
                  For="@(() => IpNetwork.Description)"
                  Class="mb-4" />
    <MudCheckBox Label="@GetDisplayName(() => IpNetwork.Active)"
                 @bind-Value="@IpNetwork.Active"
                 For="@(() => IpNetwork.Active)"
                 Class="mb-4" />
    <MudCheckBox Label="@GetDisplayName(() => IpNetwork.Assigned)"
                 @bind-Value="@IpNetwork.Assigned"
                 For="@(() => IpNetwork.Assigned)"
                 Class="mb-4" />
    <MudCheckBox Label="@GetDisplayName(() => IpNetwork.Excluded)"
                 @bind-Value="@IpNetwork.Excluded"
                 For="@(() => IpNetwork.Excluded)"
                 Class="mb-4" />
    <br />
    <div class="mb-4" style="display: flex; justify-content: center; gap: 10px; margin-top: 10px;">
        <MudButton Variant="Variant.Filled"
                   StartIcon="@Icons.Material.Filled.ArrowBack"
                   Color="Color.Surface"
                   OnClick="ReturnAction">
            Volver
        </MudButton>
        <MudButton Variant="Variant.Filled"
                   StartIcon="@Icons.Material.Filled.Save"
                   Color="Color.Dark"
                   ButtonType="ButtonType.Submit">
            Guardar
        </MudButton>
    </div>
</EditForm>
